html {
  background: url("./images/nba-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
}

.logo-icon {
  color: "#ed8021";
  font-size: "40px";
}

.content {
  margin-top: 60px;
  height: auto;
  background: transparent;
}

.nav-link {
  font-size: 20px;
  margin-inline: 10px;
}

.content-list{
  background-color: rgb(61, 57, 56, 0.5);
    width: 50%;
    margin-top: 100px;
    margin-inline: auto;
}

.content-list ul{
  list-style-type: none;
  margin: auto;
  width: 70%;
  padding-block: 20px;
  padding-inline: 0;
}

.content-list li{
  margin-block: 7px;
  display: block;
}

.content-list li a{
  color: rgb(255, 100, 3);
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 1.3px;
}

.content-list a:hover{
  border-bottom: solid rgb(255, 134, 59);
  color: rgb(255, 134, 59);

}

