/*--GLOBAL VARIABLES--*/
:root {
  --border-color: rgba(255, 255, 255, 0.55);
  --hover-color: rgb(186, 152, 110);
  --background-color: rgb(204, 204, 204, 0.3);
  --nba-blue: rgb(2, 51, 83);
  --nba-blue-transparent: rgb(2, 51, 83, .6);
  --nba-red: rgb(157, 27, 65);
  --nba-grey: rgb(183, 183, 183);
  --blue-hover: rgb(6, 113, 184);
}

/*--------------------/

/*---Start of general styling---*/

html {
  background: url("./images/nba-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  padding-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.clickable:hover {
  cursor: pointer;
}

.content {
  text-align: center;
}

/*---End of general styling---*/
/*--------------------------------------------*/
/*---Start of Navbar styling---*/

.logo-icon {
  color: "#ed8021";
  font-size: "40px";
}

.nav-link {
  font-size: 20px;
  margin-inline: 10px;
}

/*---End of Navbar styling---*/
/*--------------------------------------------*/
/*---Start of Tables styling---*/

.content-table,
.content-table th,
.content-table td {
  border: solid var(--nba-grey);
}

.content-table {
  width: 66%;
  margin: auto;
  border-collapse: collapse;
  background-color: var(--background-color);
}

.content-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--nba-blue);
  color: white;
}

.content-table tr:nth-child(even) {
  background-color: var(--nba-red);
}

.content-table tr:hover {
  background-color: var(--blue-hover);
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.table-wrapper div {
  width: 80%;
  text-align: center;
}

/*---End of Tables styling---*/
/*--------------------------------------------*/
/*---Start of Content Details styling---*/

.content-details {
  width: 60%;
  margin: auto;
  text-align: center;
  border: solid var(--border-color);
  background-color: var(--background-color);
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  height: 100%;
}

.details div {
  text-align: start;
}

.invisible {
  display: none;
}

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.list {
  max-width: 100%;
  max-height: 70%;
  overflow-y: scroll;
}

.single-ticket {
  border-bottom: solid var(--border-color);
  cursor: pointer;
}

.single-ticket:hover,
.single-ticket:focus::after {
  border-bottom: transparent;
  color: var(--nba-blue);
  pointer-events: all;
  cursor: pointer;
}

.content-details div {
  margin-block: 8px;
  flex: 1 1 0px
}

.details-title {
  background-color: rgb(204, 204, 204, 0.6);
  padding: 5px;
  color: black;
}

/*---End of Content Details styling---*/
/*--------------------------------------------*/
/*---Start of Home page styling---*/

.home-container {
  width: 50%;
  margin: auto;
  text-align: center;
  border: none;
}

.home-pic {
  width: 70%;
  margin: auto;
  margin-block-end: 20px;
}

.img-bg-tr {
  mix-blend-mode: multiply;
}

/*---End of Home page styling---*/
/*--------------------------------------------*/
/*---Start of Login form styling---*/

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(72, 76, 82, 0.6);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.form form {
  width: 84%;
}

.form input[type="text"],
.form input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-block-end: 10px;
}

.form input[type="submit"]:hover {
  background: var(--hover-color);
}

.button-container {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.text-error {
  font-size: larger;
  text-align: center;
  border-bottom: solid rgb(240, 65, 65);
}

.message-success {
  font-size: larger;
  text-align: center;
  border-bottom: solid green;
}

/*---End of Login form styling---*/
/*--------------------------------------------*/
/*---Start of Live game page styling---*/

.live-game-menu-container {
  display: flex;
  justify-content: space-around;
}

.scoreBoard {
  display: flex;
  justify-content: space-around;
}

.score-message-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  scroll-behavior: auto;
  padding-inline: 30px;
  padding-block: 10px;
}

.score-message {
  background-color: var(--nba-blue);
  border-radius: 10px;
  padding: 5px;
  opacity: 0.8;
}

.team-menu-cotnainer select {
  width: 100%;
  border-radius: 10px;
  height: 30px;
}

.target-score-container {
  display: flex;
  align-items: center;
}

.target-score-container input {
  width: 80px;
  border-radius: 10px;
  height: 30px;
}

.live-button {
  height: 50px;
  width: 20%;
  border-radius: 10px;
  background-color: var(--nba-blue);
  color: white;
  border: none;
}

.live-button:hover,
.standard-button-red:hover {
  border: solid var(--border-color);
  color: rgb(255, 255, 255, 0.6);
}


/*---End of Live game page styling---*/
/*--------------------------------------------*/
/*---Start of Profile page styling---*/

.purchase-list {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.purchase-container {
  text-align: start;
  width: 60%;
  border: solid var(--border-color);
  border-radius: 10px;
  background-color: var(--nba-blue);
  opacity: 0.8;
}

/*---End of Profile page styling---*/
/*--------------------------------------------*/
/*---Start of Tickets page styling---*/

.team-ticket-cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.team-ticket-cover {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid var(--border-color);
  border-radius: 10px;
  background-color: var(--nba-blue-transparent);
  padding-inline: 20px;
}

.logo-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.standard-button-red {
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--nba-red);
  color: white;
  border: none;
}

/*---End of Tickets page styling---*/